:root {
  --schema: https://fabcard.co/schemas/design-tokens.schema.json;
  --version: 1.0.1;
  --generated-at: 2025-10-04T23:05:54.381546Z;
  --brand-name: Fab Card Co.;
  --brand-parentcolors-deepblack-value: #1A1A1A;
  --brand-parentcolors-deepblack-cmyk: 0,0,0,90;
  --brand-parentcolors-deepblack-rgb: 26,26,26;
  --brand-parentcolors-deepblack-pantone: Process Black C;
  --brand-parentcolors-neutralcream-value: #F9F5F1;
  --brand-parentcolors-neutralcream-cmyk: 2,3,5,0;
  --brand-parentcolors-neutralcream-rgb: 249,245,241;
  --brand-parentcolors-neutralcream-pantone: 7499 C;
  --brand-lines-midnightexpress-display: Playfair Display;
  --brand-lines-midnightexpress-body: Inter;
  --brand-lines-midnightexpress-colors-charcoalfoil-hex: #2B2B2B;
  --brand-lines-midnightexpress-colors-charcoalfoil-pantone: Cool Gray 11 C;
  --brand-lines-midnightexpress-colors-charcoalfoil-cmyk: 0,2,0,68;
  --brand-lines-midnightexpress-colors-charcoalfoil-rgb: 43,43,43;
  --brand-lines-midnightexpress-colors-goldfoil-hex: #D4AF37;
  --brand-lines-midnightexpress-colors-goldfoil-pantone: 871 C;
  --brand-lines-midnightexpress-colors-goldfoil-cmyk: 20,25,65,20;
  --brand-lines-midnightexpress-colors-goldfoil-rgb: 212,175,55;
  --brand-lines-midnightexpress-colors-silverfoil-hex: #C0C0C0;
  --brand-lines-midnightexpress-colors-silverfoil-pantone: 877 C;
  --brand-lines-midnightexpress-colors-silverfoil-cmyk: 35,25,25,0;
  --brand-lines-midnightexpress-colors-silverfoil-rgb: 192,192,192;
  --brand-lines-colorcue-display: DM Sans;
  --brand-lines-colorcue-body: Open Sans;
  --brand-lines-colorcue-colors-mintteal-hex: #2EC5C2;
  --brand-lines-colorcue-colors-mintteal-pantone: 3252 C;
  --brand-lines-colorcue-colors-mintteal-cmyk: 66,0,27,0;
  --brand-lines-colorcue-colors-mintteal-rgb: 46,197,194;
  --brand-lines-colorcue-colors-periwinkle-hex: #7573F8;
  --brand-lines-colorcue-colors-periwinkle-pantone: 2725 C;
  --brand-lines-colorcue-colors-periwinkle-cmyk: 67,62,0,0;
  --brand-lines-colorcue-colors-periwinkle-rgb: 117,115,248;
  --brand-lines-colorcue-colors-maizeyellow-hex: #FFD449;
  --brand-lines-colorcue-colors-maizeyellow-pantone: 123 C;
  --brand-lines-colorcue-colors-maizeyellow-cmyk: 0,24,94,0;
  --brand-lines-colorcue-colors-maizeyellow-rgb: 255,212,73;
  --brand-lines-colorcue-colors-pinkblush-hex: #F48FBB;
  --brand-lines-colorcue-colors-pinkblush-pantone: 1767 C;
  --brand-lines-colorcue-colors-pinkblush-cmyk: 0,46,8,0;
  --brand-lines-colorcue-colors-pinkblush-rgb: 244,143,187;
  --brand-lines-colorcue-colors-jadegreen-hex: #34AABB;
  --brand-lines-colorcue-colors-jadegreen-pantone: 3255 C;
  --brand-lines-colorcue-colors-jadegreen-cmyk: 68,0,22,0;
  --brand-lines-colorcue-colors-jadegreen-rgb: 52,170,187;
  --brand-lines-heartscript-display: Playfair Display;
  --brand-lines-heartscript-script: ['Allura', 'Dancing Script', 'Quimby Script'];
  --brand-lines-heartscript-colors-coralred-hex: #D8514C;
  --brand-lines-heartscript-colors-coralred-pantone: 2345 C;
  --brand-lines-heartscript-colors-coralred-cmyk: 0,62,63,15;
  --brand-lines-heartscript-colors-coralred-rgb: 216,81,76;
  --brand-lines-heartscript-colors-softlilac-hex: #C95CAF;
  --brand-lines-heartscript-colors-softlilac-pantone: 252 C;
  --brand-lines-heartscript-colors-softlilac-cmyk: 18,57,0,0;
  --brand-lines-heartscript-colors-softlilac-rgb: 201,92,175;
  --brand-lines-heartscript-colors-blushpink-hex: #F4C6CB;
  --brand-lines-heartscript-colors-blushpink-pantone: 705 C;
  --brand-lines-heartscript-colors-blushpink-cmyk: 0,18,8,0;
  --brand-lines-heartscript-colors-blushpink-rgb: 244,198,203;
  --brand-lines-heartscript-colors-winered-hex: #8C2E3F;
  --brand-lines-heartscript-colors-winered-pantone: 4975 C;
  --brand-lines-heartscript-colors-winered-cmyk: 30,90,70,60;
  --brand-lines-heartscript-colors-winered-rgb: 140,46,63;
  --brand-lines-outloud-display: Montserrat;
  --brand-lines-outloud-body: Inter;
  --brand-lines-outloud-colors-pridepurple-hex: #6B1E9C;
  --brand-lines-outloud-colors-pridepurple-pantone: 2597 C;
  --brand-lines-outloud-colors-pridepurple-cmyk: 70,100,0,10;
  --brand-lines-outloud-colors-pridepurple-rgb: 107,30,156;
  --brand-lines-outloud-colors-hotcoral-hex: #FF4F5E;
  --brand-lines-outloud-colors-hotcoral-pantone: 805 C;
  --brand-lines-outloud-colors-hotcoral-cmyk: 0,80,60,0;
  --brand-lines-outloud-colors-hotcoral-rgb: 255,79,94;
  --brand-lines-outloud-colors-electricteal-hex: #1CE6D3;
  --brand-lines-outloud-colors-electricteal-pantone: 333 C;
  --brand-lines-outloud-colors-electricteal-cmyk: 68,0,25,0;
  --brand-lines-outloud-colors-electricteal-rgb: 28,230,211;
  --brand-lines-outloud-colors-sunlightyellow-hex: #FFCE3D;
  --brand-lines-outloud-colors-sunlightyellow-pantone: 1235 C;
  --brand-lines-outloud-colors-sunlightyellow-cmyk: 0,25,100,0;
  --brand-lines-outloud-colors-sunlightyellow-rgb: 255,206,61;
  --brand-lines-outloud-colors-creamblush-hex: #F9F2ED;
  --brand-lines-outloud-colors-creamblush-pantone: 705 C;
  --brand-lines-outloud-colors-creamblush-cmyk: 0,8,8,0;
  --brand-lines-outloud-colors-creamblush-rgb: 249,242,237;
  --brand-typography-wordmark-family: Inter;
  --brand-typography-wordmark-weight: 300;
  --brand-typography-wordmark-tracking: 0;
  --brand-typography-tagline-family: Dancing Script;
  --brand-typography-tagline-weight: 400;
  --brand-typography-body-family: Open Sans;
  --brand-typography-body-weight: 400;
  --components-logo-minwidthfulllockup-value: 32mm;
  --components-logo-minwidthwordmarkonly-value: 18mm;
  --components-logo-clearspace-value: 1cap;
  --components-brandstamp-minwidth-value: 20mm;
  --components-brandstamp-placement-portrait5x7-yfromtrim: 6mm;
  --components-brandstamp-placement-portrait5x7-align: center;
  --components-brandstamp-placement-landscape7x5-yfromtrim: 6mm;
  --components-brandstamp-placement-landscape7x5-align: center;
  --components-brandstamp-urltext: fabcardco.com;
  --components-brandstamp-urlfont-family: Inter;
  --components-brandstamp-urlfont-weight: 400;
  --components-brandstamp-urlfont-size: 6pt;
  --components-brandstamp-urlgap: 2mm;
  --components-collectionaccentmarkers-rule: Parent brand accents must include subtle references (dots/dashes/motifs) to at least one additional collection color.;
}
